/* ================================================================================
                            ******** Fonts *********
================================================================================ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* ================================================================================
                            ******** Fonts *********
================================================================================ */

/* ================================================================================
                         ******** Utilities *********
================================================================================ */
.body {
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.dev-bg-primay {
    background-color: #289BDE;
}

/* ================================================================================
                         ******** Utilities *********
================================================================================ */

/* ================================================================================
                         ******** Carousel *********
================================================================================ */

.carousel-item {
    transition: transform 1s ease;
}

.bg-image-dark{
    

    background: linear-gradient(rgba(0, 0, 0, 0.334),
            rgba(0, 0, 0, 0.782));
    background-blend-mode: darken;
}

/* ================================================================================
                         ******** Carousel *********
================================================================================ */